body {
    font: 100% Lucida Sans, Verdana;
}

/*
    couleur du lien et soulignement
 */
a {
    color: #000000;
    text-decoration: underline;
}

/*
    survol lien
*/
a:hover {
    text-decoration: none;
}

/*
    ----- HEADER ------
*/

/*
    titre dans le header
*/
header h1{
    /*background-color: blue;*/
    font-size: 24pt;
    text-align: center;
    vertical-align: center
}
/*
    alignement de l'image dans le header
*/
header img{
    align-self: center;
}

/*
    lien du menu (li)
*/
header li {
 list-style-type: none;
 display: inline-block;

 }
/*
    navigation
*/
nav {

    float: center;
    border-top: groove;
    border-bottom: groove;

}
/*
    definition du header
    ajout des images, display, taille....
*/
header{
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1; 
    text-align: center;
    display: flex;
    flex-direction: column;
  /*  padding: 10px;
    font-size: 70%;
    line-height: 14px;
    border-radius: 4px; margin: 4px;*/
    background-image: url("../images/html5.png"), url("../images/bg.jpg");
    background-position: right bottom , center;
    background-repeat: no-repeat;
    background-size: 100px 100px, 100%;

}

header fieldset{
    margin: 10px;
    width: 150px; 
    height: 90px;
    top: 0; 
    right: 0; 
    position: absolute;
    border: hidden;
    border-radius: 5px;
}
/*
    ------ ASIDE ------
*/
/*
    définition de aside
*/
aside{
    margin: 10px;
    background-color: #32a4e7;
    color: #ffffff;
    padding: 10px;
    width: 10.5em;
    bottom: 0;
    top: 0;
    right: 0;
    position: fixed;
    margin-bottom: 3.9em;
    margin-top: 15.9em;
    border-radius: 5px;

}

#TitreAside{
    background-color: blue;
    font-size: 16pt;
    text-align: center;
    vertical-align: center
}

aside li{
    color: rgb(0,0,255);
    list-style-type: none;
}

/*
    definition de aside pour résolution sup 1440 px
*/
@media (min-width: 1440px) {
    aside{
        margin: 10px;
        background-color: #32a4e7;
        color: #ffffff;
        padding: 10px;
        width: 10.5em;
        height: 35rem;
        bottom: 0;
        top: 0;
        right: 0;
        position: fixed;
        margin-bottom: 3.9em;
        margin-top: 15.9em;
        border-radius: 5px;

    }
}

/*
    passage du logo en arriere plan
*/
.logoHtml5{
    z-index: 10;
}
/*
    ----- formulaire ------
*/
/**
    login fields
 */
.FormLoginFields{
    width: 150px;
    height: 15px;

}
/*
    bouton
*/
.FormLoginButton{
    width: 154px;
    height: 20px;
}
/*
    login
*/
.login{
    margin: 10px;
    background-color: #32a4e7; 
    color: #ffffff; 
    padding: 10px; 
    width: 150px; 
    bottom: 0; 
    top: 0; 
    right: 0; 
    position: fixed;
    margin-bottom: 150px;
    margin-top: 210px;
    
    border-radius: 5px;
}

footer{
    border: 1px solid #d4d4d4; 
    background-color: #f1f1f1; 
    text-align: center; 
    padding: 10px; 
    font-size: 70%; 
    line-height: 14px;
}
/*
    ----- SECTION ------
*/

section {
    margin-right: 200px
}

.Titre2Section{
    background-color: gray;
    font-size: 5;
    text-align: center;
    vertical-align: center
}

/*
    ----- ARTICLE ------
*/
article[class="bgLightning"]{

    background-color: #F1F1F1;
}

article{
    background-color: lightgrey;
}



/*
   ------ TABLES ------
*/
#table1{
    width: 600px;
    margin: auto;
}
table {
    margin:auto;
    border: 2px solid black;
    background-color: white;
}
td{
    border: 1px solid black;
}

.autoColor tr:nth-child(odd){
    background-color: #BEBEBE;
}
#table2 th, .schedule{
    background-color: #72C7DC;
}
.closed{
    background-color: grey;
}

